@import '../../styles/style.scss';
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 970px;
  margin-bottom: 20px;
  .containerDetail{    
    background-color: $white;
    & > .containerProduct {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      padding-top: 20px;
      & > .image {
        max-width: 680px;
        min-height: 500px;
        height: 100%;
        margin: 0;
        width: 100%;
        padding:30px;
        & > img {
          object-fit: contain;
          width: 100%;
          height: auto;
          max-height: 500px;
        }
      }
  
      & > .productDetail {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 32px;
        padding-top: 32px;
        max-width: 300px; 
        .sold{
          font-size:$fontsizeS;
          margin-bottom: 16px;
          color: $black;
        }
        .title{
          font-size:$fontsizeL;
          color: $black;
        }
        .price{
          font-size:$fontsizeXXL;
          margin-bottom: 32px;
          margin-top: 32px;
          color: $black;
        }
        .button{
          background-color: $blue;
          color: $lightgrey;
          min-height: 40px;
          border: none;
          cursor: pointer;
          border-radius: 4px;
        }
      }
    }
  
  
    & > .detail {
      max-width: 680px;
      padding: 32px;
  
      & > h2 {
        font-size: 28px;
        margin: 0;
        margin-bottom: 32px;
        color: $darkgrey;
      }
  
      & > p {
        font-size: 16px;
        margin: 0;
        color: $grey;
        line-height: 17px;
      }
    }
  }

}


