@import '../../../styles/style.scss';
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  cursor: pointer;
}

.image {
  max-width: 160px;
  object-fit: contain;
}

.containerImage{ 
  width: 160px;
}

.containerDescription {
  width: 100%;
  padding: 20px;
  & > span{
    margin-bottom: 32px;
    font-size:$fontsizeL;
    color: $black;
  }
  & > p {
    font-size:$fontsizeM;
    color: $darkgrey;
  }
}

.containerLocation {
  min-width: 200px;
  font-size: 12px;
  color:$grey;
  padding: 20px;
}