@import '../../styles/style.scss';
.container {
  width: 100%;
  max-width: 970px;
  min-height: 200px;  
}
.results {
  background-color: $white;
  width: 100%;
  & > hr {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid $lightgrey;
  } 
}