@import '../../../styles/style.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  width: 100%;  
}

.inputSearch {
  width: 100%;
  background-color:$white;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > input {
    width: 100%;
    border:none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    font-size: $fontsizeM;
    color: $darkgrey;
    padding: 10px;
    &::placeholder {
      color:#BFBFBF;
      opacity: 1;
    }
    &:focus{
      border: none;
      outline: none;
    }
  }

  & > button {
    min-width: 45px;
    border:none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
  
}
.suggestions{
  position: absolute;
  z-index: 9;
  background-color: $white;
  border: 0.1px solid #BFBFBF;
  width: 100%;
  max-width: 600px;
  margin-left: 10px;
  top: 51px;
}