@import  '../../styles/style.scss';
.container {
  background-color: $yellow;
  display: flex;
  min-height: 60px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 910px;
}