@import '../../styles/style.scss';

.container {
  font-size: $fontsizeS;
  color: $darkgrey;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: start;

  :last-child{
    font-weight: 700;
  }

  & > img {
    width: 18px;
    height: 18px;
  }
}